.SendPictureContainer {
  padding-left: 0.5rem;
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.SendPicture-upload-button {
  margin: 0 1rem 0 0rem;
  background: none;
  border: none;
  font-size: 150%;
  color: rgb(150,150,150);
  cursor: pointer;
}

.SendPicture-upload-button:hover {
  color:rgb(75,75,75);
}

.SendPicture-upload-button:focus {
  outline: none;
}

.SendPicture-send-button {
  background: none;
  border: none;
  font-size: 150%;
  color: rgb(150,150,150);
  cursor: pointer;
}

.SendPicture-send-button:hover {
  color:rgb(75,75,75);
}

.SendPicture-send-button:focus {
  outline:none;
}

.SendPicture-button:hover {
  color:rgb(75,75,75);
  cursor: pointer;
}

.SendPicture-button:focus {
  outline: none;
}

.SendPicture-send-button-text {
  padding-left: 1rem;
  font-size: 95%;
  font-style: italic;
  color: rgb(150,150,150);
}