.Home {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Home-form {
    margin-top: 3rem;
    padding-bottom: 2rem;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    font-style: italic;
    height: 20rem;
    width: 35rem;
    background: linear-gradient(to bottom right, white, rgba(240,240,240, 0.8), white);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Home-title-coontainer {
    padding: 0.5rem 0 0.5rem 0;
    height: 50%;
    width: 100%;
    background: rgb(75,75,75);
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.alert-error {
    position: absolute;
    padding: 1rem;
    top:110%;
    height: 4rem;
    width: 25rem;
    background-color: rgba(220, 20, 60, 0.3);
    font-size: 90%;
    font-style: normal;
    color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-input {
    margin-top: 1rem;
    height: 2.5rem;
    width: 15rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 105%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(20,20,20,0.4);
}

.Home-input:focus {
    outline: none;
    border-bottom: 1px solid rgba(30, 144, 255, 0.8);
}

.Home-submit-button {
    height: 3rem;
    width: 10rem;
    background: dodgerblue;
    color: whitesmoke;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    font-size: 90%;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.Home-submit-button:focus {
    outline: none;
}

.Home-submit-button:hover {
    text-shadow: 0px 0px 1px ivory;
    box-shadow: 0px 0px 5px 0px dodgerblue;

}