.App {
  /*padding-top: 3rem;*/
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, lightslategrey, rgba(80, 140, 190, 0.1));
  flex-wrap: wrap;
}

@media screen and (max-width:768px) {
  .App {
    overflow-x: hidden;
  }
}